# Default ignored files
/shelf/
/.idea/workspace.xml


# Default ignored directories for Java projects
/.idea/
bogdan-mierloiu/api/target
bogdan-mierloiu/api/.mvn
bogdan-mierloiu/api/mvnw
bogdan-mierloiu/api/mvnw.cmd


bogdan-mierloiu/web-client/target
bogdan-mierloiu/web-client/.mvn
bogdan-mierloiu/web-client/mvnw
bogdan-mierloiu/web-client/mvnw.cmd
