# Default ignored files
/shelf/
/.idea/workspace.xml
# Default ignored directories
/.idea/
bogdan-mierloiu/spring-container/target
bogdan-mierloiu/spring-container/.mvn
bogdan-mierloiu/spring-container/mvnw
bogdan-mierloiu/spring-container/mvnw.cmd
